@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
	--primary-color: #3a4052;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;    
}

nav, #section-1 {
    color: #fff;
    background-color: #0d1117;
}

.blue-gradient {
    /*background: linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%); */
    background: linear-gradient(90deg,#ffe57f 2.34%,#ff7170 100.78%);
}

.orange_text-gradient {
    background: linear-gradient(90deg,#ff7170 2.34%,#ffe57f 100.78%);
    -webkit-text-fill-color: transparent;
    background-clip: text; 

    background-clip: border-box;
    -webkit-background-clip: text;
  }



/********************************************   NAVBAR   **************************************************/

nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: inherit;
    top: 0px;
    margin-top: 0px;
    z-index: 1000;
    background-color: rgb(0 0 0 / 10%);
    backdrop-filter: blur(10px);
}

.navbar {
    position: fixed !important;
}

.scroll {
    /* height: 1000px; */
    background: rgba(0, 0, 0, 0.4);   /* change for mobile  view  */
    transition: 0.2s;
}

.nav-container h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.nav-container a{
    text-decoration: none;
}

.nav-item a {
    color: #fff ;
}
.nav-container h1 {
    color: #fff;
}

.nav-item {
    font-size: 18px;
}
.navbar-nav {
    gap: 50px;
}


/********************************************   SECTION - 1  **************************************************/

#section-1 {
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
	justify-content: center;
    padding: 0 20px;
}

.content {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content button {
    margin: 2rem;
    padding: 0.8rem 1rem;
    color: #fff; 
    border-radius: 65px;
    border: none;
    width: 150px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.6s;
    font-weight: 500;
    /* opacity: 0.7; */
    /* border-radius: 70% 3px; */
    /* background: transparent;*/
    /* transition: transform 50ms ease; */
}

.back-image {
    z-index: -111;
    pointer-events: none; 
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background: url('images/home-cover.jpg') no-repeat center center/cover;
    background-position: center center;
}

.back-image:after {
    content: '';
    z-index: -111;
    pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);   
}

.hi {
    width: 100%;
    font-size: 1.5rem;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

.about {
    background-color: #f9f9fd !important;
    /* background-color: #FEFBF6; */
    color: #000;
}